body {
	width: 790px;
	margin: 0 auto;
	background: #FFF764;
}

/* ------------------------------------Nav Section--------------------------------------*/

header {
	background: #EEC000;
	width: 790px;
	height: 50px;
}

img {
	float: left;
}

h4, div {
	clear: both;
}

h1 {
	font-family: 'Fondamento', cursive;
	text-shadow: 2px 2px 2px #F5F5F5;
	padding-left: 10px;
	width: 430px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	float: left;
}

nav ul {
	width: 300px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li {
	width: 100px;
	float: left;
}

nav a {
	text-decoration: none;
	display: block;
	margin: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

a:visited {
	color: #FF0000;
}

a:hover {
	color: #000;
	background: #FFF764;
}

a:active {
	color: #000;
	background: #FFF764;
}

/*---------------------------------- Dish of the Week----------------------------------*/

h2 {
	font-family: 'Yeseva One', cursive;
}

#ingredients {
	list-style-type: square;
}

#info {
	width: 450px;
	margin: 0 auto;
	float: right;
}

#order_button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	width: 200px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	background: #EEC000;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAA51A), to
	(#F47A20));
	background: -moz-linear-gradient(top, #FAA51A, #F47A20);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FAA51A',
	endColorstr='#F47A20');
	border: solid 1px #000;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	-o-border-radius: .5em;
	border-radius: .5em;
	-moz-box-shadow: 0 2px 2px #000;
	-webkit-box-shadow: 0 2px 2px #000;
	-o-box-shadow: 0 2px 2px #000;
	box-shadow: 0 2px 2px #000;
}

#order_button:hover {
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#F88E11), to
	(#F06015));
	background: -moz-linear-gradient(top, #F88E11, #F06015);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F88E11',
	endColorstr='#F06015');
}

#order_button:active {
	position: relative;
	top: 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#F47A20), to
	(#FAA51A));
	background: -moz-linear-gradient(top, #F47A20, #FAA51A);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F47A20',
	endColorstr='#FAA51A');
}

/*-----------------------------------Other Dishes--------------------------------------*/

.dishes {
	margin: 4px;
	border: solid #EEC000 2px
}

div {
	-moz-columns: 3 240px;
	-webkit-columns: 3 240px;
	-o-columns: 3 240px;
	columns: 3 240px;
}