body{
	width: 790px;
	margin: 0 auto;
	background: #FFF764;
}

/* ------------------------------------Nav Section--------------------------------------*/

header{
	background: #EEC000;
	width: 790px;
	height: 50px;
}

img{
	float: left;
}

h3, footer{
	clear: both;
}

h1{
	font-family: 'Fondamento', cursive;
	width: 440px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	float: left;
}

nav ul{
	width: 300px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li{
	width: 100px;
	float: left;
}

nav a{
	text-decoration: none;
	display: block;
	margin: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

a:visited{
	color: #FF0000;
}

a:hover{
	color: #000;
	background: #FFF764;
}

a:active{
	color: #00;
	background: #FFF764;
}

/*---------------------------------- Dish of the Week----------------------------------*/

#info{
	width: 450px;
	margin: 0 auto;
	float: right;
}

h3{
	margin: 20px;
}